.profile__edit-icon {
    width: 24px;
    height: 24px;
    background: url("../../../images/__edit_button.svg");
}

@media screen and (max-width: 900px) {
    .profile__edit-icon {
        width: 18px;
        height: 18px;
        background-size: cover;
    }
}