.profile__avatar-section {
    
}



/* a:before {
    position: absolute; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0,0,0,.5);  
    opacity: 0; 
}

a:after {
    position: absolute; 
    top: 0;
    left: 0; 
    right: 0; 
    bottom: 0; 
    background: rgba(0,0,0,.5);  
    opacity: 0; 
}

a:hover:before,
a:hover:after { opacity: 1; } */