.close-button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    border: none;
    background-color: unset;
    cursor: pointer;
    background-image: url("../../../images/__close-popup.svg");
    background-size: cover;
    width: 32px;
    height: 32px;
}

.close-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 370px) {
    .close-button {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}